/* Style for content div block */
.content-div {
    border: 1px solid #e0e1e1;
    background-color: #fff;
    border-radius: 1px;
    box-sizing: border-box;
    overflow: hidden;
    padding: .85714rem;
    position: relative;
    min-height: 80vh;
    margin-top: 15px;
}
/* Style for footer tab*/
footer{
    width: 100%;
    height:70px;
    position:absolute;
    bottom:0px;
    left:0px;
    background: #f8f9fa;
    padding: 25px 0;
}
/* Customize icon font*/
@font-face {
    font-family: wuxunCus;
    src: url('./font/wuxun_cus.woff');
}
.icon-font-family-wuxun-cus {
    font-family: wuxunCus;
}
.icon-male:before {
    content: "\e900";
    color: #007bff
}
.icon-female:before {
    content: "\e901";
    color: #e83e8c
}